table#active {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


thead#active {
    background-color: #b6b6b6;

    color: black;
    font-size: 15px;
    font-family: IRANSans;


}
table#active {
width: 30%;
    border: 1px solid  #a81830;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
.px-4 {
    width: 80px;
    height: 30px;
    border: 1px solid  gray;
    border-radius: 3px;
    font-family: IRANSans;
    color: #a81830;
}
table {
    margin-bottom: 30px;
}